<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level | %thread | qr-admin | %logger{36}:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="org.springframework.web" level="debug" />
    <logger name="org.springframework.context" level="debug" />
    <logger name="com.qr.qradmin" level="debug" />


</configuration>